
*.pyc

IntelligenceArtificielle/TD1/\.vscode/

IntelligenceArtificielle/TD1/current.svg

IntelligenceArtificielle/DL-TDNOTE/cifar-10-batches-py/

IntelligenceArtificielle/DL-TDNOTE/.ipynb_checkpoints/

ArchitectureLogicielle/refactoring/bin/

ArchitectureLogicielle/decorator/bin/
